.heroDiv {
    position: relative;
    z-index: 10;
    color: white;
    /* background-color: var(--background); */
    padding: 1.5rem;
    margin: 1rem auto 10rem 1rem;
}

.p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-20px);
    font-weight: 500;
    letter-spacing: 1px;
}

.p::before {
    content: "";
    width: 2rem;
    height: 3px;
    margin-right: 0.75rem;
    margin-bottom: 0.15rem;
    background-color: var(--primary);
}

.title {
    margin: 1.5rem 0;
    font-size: clamp(var(--font-48px), 5vw, var(--font-64px));
}

.button {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

.buttonIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.icon {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.25rem;
}

.buttonText {
    font-size: var(--font-20px);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 1rem;
}

@media (min-width: 1042px) {

    .heroDiv {
        margin: 1rem auto 10rem 10rem;
    }

    .buttonIcon {
        width: 4rem;
        height: 4rem;
    }

    .icon {
        width: 1.75rem;
        height: 1.75rem;
    }
}