:root {
  --primary: rgb(1, 116, 228);
  --primary-content: rgb(245, 245, 246);
  --primary-content-dark: rgb(24, 26, 27);
  --primary-dark: rgb(1, 90, 177);
  --primary-light: rgb(26, 142, 254);

  --secondary: rgb(136, 200, 232);
  --secondary-content: rgb(235, 229, 255);
  --secondary-dark: rgb(44, 1, 177);
  --secondary-light: rgb(81, 26, 254);

  --background: rgb(24, 26, 27);
  --hsl-background: hsl(200, 6%, 10%);
  --background-light: rgb(245, 245, 246);
  --foreground: rgb(36, 38, 40);
  --border: rgb(61, 64, 67);

  --copy: rgb(251, 251, 251);
  --copy-light: rgb(215, 217, 219);
  --copy-lighter: rgb(161, 166, 170);

  --link-not-active: rgba(158, 159, 162, 1);

  --success: rgb(1, 228, 1);
  --warning: rgb(228, 228, 1);
  --error: rgb(228, 1, 1);
  --success-content: rgb(0, 0, 0);
  --warning-content: rgb(0, 0, 0);
  --error-content: rgb(255, 229, 229);

  --font-4px: 0.25rem;
  --font-8px: 0.5rem;
  --font-12px: 0.75rem;
  --font-14px: 0.875rem;
  --font-16px: 1rem;
  --font-18px: 1.125rem;
  --font-20px: 1.25rem;
  --font-22px: 1.375rem;
  --font-24px: 1.5rem;
  --font-26px: 1.625rem;
  --font-28px: 1.75rem;
  --font-32px: 2rem;
  --font-36px: 2.25rem;
  --font-40px: 2.5rem;
  --font-48px: 3rem;
  --font-64px: 4rem;
  --font-72px: 4.5rem;

  /* dropdown nav */
  --nav-size: 60px;
  --border-radius: 8px;
  --speed: 500ms;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--hsl-background);
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* Global header styles */
.header-wrapper {
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5rem 5vw 10rem 5vw;
}

.header-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../assets/house.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.header-hero {
  color: var(--primary-content);
  z-index: 10;
}

.header-hero h1 {
  font-size: var(--font-36px);
  font-size: clamp(2.25rem, 1.9rem + 1.7500000000000002vw, 4rem);
  font-weight: 600;
}


.link {
  color: var(--link-not-active);
}

.isActive {
  color: var(--background);
}

/* link underline on hover & active */
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--primary);
  height: 4px;
  width: 0%;
  border-radius: 9999px;
  transition: 0.3s;
}

.isActive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--primary);
  height: 4px;
  width: 100%;
  border-radius: 9999px;
  transition: 0.3s;
}

.link:hover::after {
  width: 100%;
}