.cardContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); */
}

.imageContainer {
    position: relative;
    z-index: 1;
}